* {
    margin: 0;
    padding:0;
    font-family: system-ui;
}

head title {
    padding: 20px;
}

#navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 1rem;
}

/*Page Home*/

#title {
    padding: 20px;
    display: flex;
    justify-content: center;
}

#title2 {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#title2 h2{
    margin-left: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

#formulaire {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#formulaire h3{
    margin-bottom: 15px;
}

#formulaire form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*#formulaire form p {*/
/*    margin-bottom: 10px;*/
/*    margin-top: 10px;*/
/*}*/

#formulaire form input {
    margin-top: 25px;
    margin-bottom: 20px;
    width: 200px;
    height: 35px;
    border-radius: 5px;
}

#formulaire form button {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
}

/*Page Yams*/

#buttonDices {
    width: 100px;
    height : 100px;
    margin: 30px;
    border-radius: 50px;
    cursor: pointer;
}

#imageDiceOne {
    width: 100px;
    height : 100px;
    padding: 10px;
}

#imageDiceTwo {
    width: 100px;
    height : 100px;
    padding: 10px;
}
#imageDiceThree {
    width: 100px;
    height : 100px;
    padding: 10px;
}
#imageDiceFour {
    width: 100px;
    height : 100px;
    padding: 10px;
}
#imageDiceFive {
    width: 100px;
    height : 100px;
    padding: 10px;
}

footer {
    margin-top: 30px;
}