extends layout

block variables
    - const PAGE_TITLE = 'Game'

block scripts
    script( async src="/static/yams.js")

block content
    div
        h1 Rolls theses dices !

    div
        button(id="buttonDices" type="submit") Click here

    div(id="container", class="dices")
        img(id="imageDiceOne")
        img(id="imageDiceTwo")
        img(id="imageDiceThree")
        img(id="imageDiceFour")
        img(id="imageDiceFive")

